<div class="container">
  <h1>{{title}}</h1>
  <div class="values-container">
    <div class="value-container">
      <p class="">Maior valor capturado</p>
      <p class="">{{ maxValue }}</p>
    </div>

    <div class="value-container">
      <p class="">Quantidade de valores capturados</p>
      <p class="">{{ totalValues }}</p>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div>
      <img [src]="graph1Url" alt="Graph 1">
    </div>
    <div>
      <img [src]="graph2Url" alt="Graph 2">
    </div>
  </div>

</div>
